---
import HeadingOneWhite from "@/atoms/headings/h1-white/index.astro"
import ParagraphWhite from "@/atoms/paragraphs/white/index.astro"
---
<section class="bg-black p-4 grid gap-6">
    <div>
        <HeadingOneWhite>Our Blog</HeadingOneWhite>
        <ParagraphWhite>Browse through the latest news, strategies and other great content from the Modifyed blog!</ParagraphWhite>
    </div>
    <div class="bg-white rounded-xl overflow-hidden">
        <div class="bg-zinc-200 w-full aspect-video"/>
        <div class="p-4 grid gap-2">
            <h2 class="font-futura_pt_condensed font-extrabold text-3xl">Social Media for Accountants: Tips and Best Practices</h2>
            <p>An estimated 57 million Americans earn a living via freelancing or the gig economy, according to a recent post on Fortunately.  All of these folks…</p>
            <div class="bg-modifyed_yellow w-fit text-xs py-1 px-2 rounded">November 4, 2023</div>
        </div>
    </div>
</section>
