---
// IMPORT LAYOUT
import Container from "@/layouts/Container.astro"

import HeadingOneBlack from "@/atoms/headings/h1-black/index.astro"
import ParagraphBlack from "@/atoms/paragraphs/black/index.astro"
import ButtonSecondaryFull from "@/atoms/button/secondary/full.astro"
import InputText from "@/atoms/input/text/index.astro"
---
<section class="py-10">
    <Container>
        <div class="flex flex-col items-center w-full gap-4">
            <HeadingOneBlack>Turbocharge Your Digital Marketing ROI in 30 Days - Get the Free Online Course!</HeadingOneBlack>
            <ParagraphBlack> Share your name and email address and get access to our free online course + exclusive tricks to implement the best digital marketing strategies rapidly!</ParagraphBlack>
            <InputText placeholder="First Name"/>
            <InputText placeholder="Email"/>
            <ButtonSecondaryFull>Submit</ButtonSecondaryFull>
        </div>
    <Container>
</section>
