---
// IMPORT LAYOUT
import Container from "@/layouts/Container.astro"

import { Icon } from "astro-icon/components"

import HeadingOneWhite from "@/atoms/headings/h1-white/index.astro"
import ParagraphWhiteCenter from "@/atoms/paragraphs/white/center.astro"
import ButtonSecondaryFull from "@/atoms/button/secondary/full.astro"
import InputText from "@/atoms/input/text/index.astro"
---
<section class="py-10 bg-black">
    <Container>
        <div class="flex flex-col items-center w-full gap-4">
            <HeadingOneWhite>Digital Marketing, the Modifyed Way</HeadingOneWhite>
            <ParagraphWhiteCenter>Building a sustainable business in 2020 and beyond requires fresh thinking, new ideas and brilliant execution. With a strong team comprising diverse 21st century skill sets, Modifyed is well-placed to help your brand transform using the power of digital. </ParagraphWhiteCenter>
            <section class="grid gap-4">
            {

                Array(4).fill(0).map( ( value ) => {

                    return (
                        <div class="gap-2 flex items-center">
                            <Icon name="check" class="size-6 text-modifyed_yellow"/>
                            <ParagraphWhiteCenter>Content that evokes the right emotions</ParagraphWhiteCenter>
                        </div>
                    )

                })

            }
            </section>
        </div>
    <Container>
</section>
