---
import { Icon } from "astro-icon/components"
---
<header class="p-4 bg-modifyed_primary_grey flex justify-between items-center px-8">
    <div class="w-16">
        <img
            src="/images/Modifiyed-digital-square-logo.png"
            class="w-full h-full object-cover"
        />
    </div>
    <Icon name="bags" class="size-8 text-white"/>
</header>