---
// IMPORT LAYOUT
import Container from "@/layouts/Container.astro"

import HeadingOneBlack from "@/atoms/headings/h1-black/index.astro"
import ParagraphBlack from "@/atoms/paragraphs/black/index.astro"
import Button from "@/atoms/button/primary/index.astro"
---
<section class="py-10">
    <Container>
        <div class="flex flex-col items-center w-full gap-4">
            <HeadingOneBlack>GET IN TOUCH</HeadingOneBlack>
            <ParagraphBlack>Have a query, project, idea, suggestion or comment? We would love to hear from you! Please fill this form and we’ll get back to you very soon.</ParagraphBlack>
            <Button>Contact Us</Button>
        </div>
    <Container>
</section>
